---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

<div class="footer_site">
<hr/>
<style>
    .td{width:10px;overflow:hidden}
</style>
<table align="center">
    <tr>
        <th>         </th>
        <th width="10px"><script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=iLaR1ujFZKLhBjPbdH1ARqtQtQ65W8jZ8aR8yadS0Tw"></script>
        </th>
        <th>          </th>
    </tr>
</table>
<div class="footer_copyright">
  ©2023 HU Ming | 基于&nbsp
  <a class="page_a"  href="https://github.com/RayeRen/acad-homepage.github.io">
  acad
  </a>&nbsp模板
</div>
</div>
  </body>
</html>
